.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fcf6e9;
  font-family: 'Manjari', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #333;
  text-align: center;
  overflow: hidden;
}

@media(min-width: 400px) {



//This class is page centered and contains the focal activity of the page
.main-container {
  margin: 0 auto;
  border: 2px rgba(0,0,0,0.2) solid;
  width: 275px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse at top, rgba(238, 237, 234, 0.719), transparent),
                    radial-gradient(ellipse at bottom, rgba(249, 254, 255, 0.801), transparent);
  background-image: url('../images/sanka_hakuu_shower_below_mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 1px 10px 1px black;

  
  //This class establishes a grid for cards to fill
  .main-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    // border: 1px maroon solid;
    height: 449px;
    width: 275px;
    align-content: center;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        margin: 0 0 0 -23%;
        align-content: center;
        li {
          margin: 0 auto;
          button {
            height: 25px;
          }
        }
      }
  }
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  
}

@keyframes moveToCenter {
  0% {
    transform: translate(-600%, -90%);
  }
  100% {
    transform: translate(0%, -15%);
  }
}

@keyframes moveOffCenter {
  0% {
    transform: translate(0%, -15%);
  }
  100% {
    transform: translate(600%, -90%);
  }
}

// Places card off-screen on initial card creation
.card-control-initial-load {
  height: 235px;
  width: 155px;
  background-color: transparent;
  transform: translate(-600%, -90%);
}

// Set of classes to store animation only
.step2 {
  animation: moveToCenter 1s ease-in-out;
  animation-fill-mode: forwards;
}

.step3 {
  animation: moveOffCenter 1s ease-in-out;
  animation-fill-mode: forwards;
}
/* .card-control {
  height: 235px;
  width: 155px;
  background-color: transparent;
} */



//test
.card {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 100%;
  width: 100%;
  border: 1px black solid;
  backface-visibility: hidden;
  text-align: center;
  position: absolute;
  box-shadow: 1px 1px 7px .5px black;
}

.card-question {
  background-image: radial-gradient(closest-side, rgba(224, 205, 205), rgb(216, 216, 216));
                    // radial-gradient(ellipse at bottom, rgb(175, 176, 177), transparent);
                    // background-color: #fff;
  position: absolute;
  backface-visibility: hidden;
  // transform: rotateX(-180deg);
}

.card-answer {
 /*  background-image: radial-gradient(ellipse at top, rgb(240, 240, 240), transparent),
                    radial-gradient(ellipse at bottom, rgb(175, 176, 177), transparent); */
  background-color: #eee;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

@keyframes cardFlip {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(180deg); }
}

.flipped {
  animation: cardFlip 1s ease-in-out forwards;
  transform-style: preserve-3d;
  perspective: 600px;
}


/* // This class contains the front and back sides of each card
.card {
  position: absolute;
  height: 235px;
  width: 155px;
  transform-style: preserve-3d;
  perspective: 700px;
  transition: .6s;
    &:active .card-question {
      transform: rotateX(-180deg);
    }
    &:active .card-answer {
      transform: rotateX(0deg);
    }

    
    // Card question side
  .card-question {
    height: 230px;
    width: 150px;
    border: 1px black solid;
    background-color: rgb(255, 244, 213);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .6s;
  }
    // Card answer side
  .card-answer {
    height: 230px;
    width: 150px;
    border: 1px black solid;
    background-color: rgb(236, 229, 229);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .6s;
  }

} */



// When individual manipulation is needed, use this.

/* 
div[card-number="4"] {
  position: absolute;
  left: 50%;
  z-index: 1;
} */

/* 
Metallic radial gradient
background-image: radial-gradient(ellipse at top, rgba(240, 240, 240, 0.979), transparent),
radial-gradient(ellipse at bottom, rgba(175, 176, 177, 0.945), transparent); */




}

@media(min-width: 796px) {

    .main-container {
      width: 796px;
    }



}